* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  
  body {
    background-image: url(./img/onda.JPEG);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    height: 100vh;
  }
  body * {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(0, 0, 0);
  }
  
  
  #container {
    width: 100%;
    max-width: 388px;
    margin: auto;
    padding: 24px;
    margin-top: 56px;
    padding: 0 24px;
  }
  
  
  #profile {
    text-align: center;
  }
  
  
  #profile img {
    width: 112px;
  }
  
  
  #profile p {
    font-weight: 500;
    line-height: 24px;
    margin-top: 8px;
  }
  
  
  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  
  
  ul li a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 24px;
    background: var(--surface-color);
    border: 2px solid rgba(7, 7, 7, 0.5);
    border-radius: 8px;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    text-decoration: none;
    font-weight: 500;
    transition: background 0.2s;
  }
  
  
  ul li a:hover {
    background-color: rgb(196, 174, 125);
   
  }
  
  
  #social-links {
    display: flex;
    justify-content: center;
    padding: 19px 0;
    font-size: 24px;
  }
  
  
  #social-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    border-radius: 50%;
    transition: background 0.2s;
  }
  
  
  .footer{
    font-size: 13px;
  
  
  }
  
  
  
  
  #social-links a:hover {
    background: rgb(196, 174, 125);
  }
  
  
  @media (min-width:700px){
    body{
      background-image: url(./img/onda.JPEG);
    }
  }
  